<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="new-user-form" style="display: none;">
  <%= render 'form', user: @user %>
</div>

<br>

<%= link_to 'New User', new_user_path, {class: "new-user-link"} %> <br/>
<%= link_to 'Send Weekly Newsletter', spam_path %>

<script type="text/javascript">
  $('.new-user-link').on('click', function(evntObj){
    evntObj.preventDefault();
    $('.new-user-form').show();
  })

  $('.new-user-submit').on('click', function(evntObj){
    evntObj.preventDefault();
    var $form = $(this).closest('form');
    var action = $form.attr('action');
    var method = $form.attr('method');
    var data = $form.serialize();

    console.log('sending ajax now.')
    $.ajax({
      data: data,
      type: method,
      url: action,
      dataType: 'json'
    })
  })

</script>
